//Colours should always only appear in this colours.scss

$white: 		#fff;
//$white-30: rgba(255,255,255, 0.3)
//$white-20: rgba(255,255,255, 0.2)
$black: 		#000;
$blue:			#248cec;
$orang:			#f4b60d;
$dark-grey:		#2a2d32;
$grey:			#35383c;
$light-grey:	#8a8a8a;
$grey-bg:		#f7f7f7;
$grey-bord:		#181a1d;
$grey-txt:		#8a8a8a;